extends layout

block content
    h1= title
    p Welcome to #{title}
    p#stat <strong>Status:</strong>Not Connected
    h2 Socket.io Chat Tutorial
    ul
    input(type="text", placeholder="Wait...")#field
    input(type="button", value="Go")#btn


block scripts
    script(src="/js/script.js")